body {
  font-family: "Urbanist", sans-serif;
}

.custom-menu-footer nav ul li a {
  justify-content: center;
}

.h-price h2 span {
  color: #020101;
}

.custom-con {
  margin: 0 auto 120px;
  width: 96%;
}

.new-prodcuts .elementor-swiper-button-prev {
  left: -35px !important;
}

.new-prodcuts .elementor-swiper-button-next {
  right: -35px !important;
}

.elementor-carousel-image {
  width: 55%;
  margin: 0 auto;
}

.custom-product-title {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0;
  text-align: center;
  line-height: 1.2;
  height: 2.4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Product Rating */
.special-offers-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc3618;
  height: 100%;
  padding: 0 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.special-offers-btn a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}

.special-offers-btn:hover {
  background-color: #b72f2f;
}
.wd-product:not(.wd-hover-small)
  :is(.wd-product-img-link, .wd-product-img-hover)
  :is(picture, img) {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.head-pro .wd-tabs-header {
  display: none;
}
.wd-arrow-inner {
  border-radius: 8px !important;
  width: 40px !important;
  height: 40px !important;
}
footer .container {
  padding-inline: 0;
}

.wc-tab-inner.wd-entry-content p,
.wc-tab-inner.wd-entry-content ul li p {
  font-size: 16px;
  color: black;
}
p.stock {
  font-size: 16px;
  font-weight: bold;
}
.product-labels .attribute-label {
    display: none;
}
@media (max-width: 1024px) {
  .none-tablet {
    display: none;
  }
  .custom-con {
    margin: 0 auto 80px;
  }
}
@media (max-width: 767px) {
  .custom-con {
    margin: 0 auto 60px;
  }
}
